.contact {
  .pieces {
    display: inline-block;
    overflow: hidden;
  }
  .at,
  .dot {
    color: $header_color;
    display: inline-block;
    opacity: 1;
    overflow: hidden;
    text-align: center;
    transition: all 0.4s ease;
  }
  // .at.hid,
  // .dot.hid {
  //   opacity: 0;
  //   width: 0;
  // }
  // .at {
  //   width: 35px;
  // }
  // .at.rev {
  //   width: 25px;
  // }
  // .dot {
  //   width: 45px;
  // }
  // .dot.rev {
  //   width: 8px;
  // }
}
