body {
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

.phil-holder {
  margin-top: -3rem;
  margin-bottom: -1.5rem;

  @include media-breakpoint-up(sm) {
    margin-top: -4rem;
    margin-bottom: -3rem;
  }
  @include media-breakpoint-up(md) {
    margin-top: -4rem;
    margin-bottom: -4rem;
  }
  @include media-breakpoint-up(lg) {
    margin-top: -5rem;
    margin-bottom: -5rem;
  }
  @include media-breakpoint-up(xl) {
    margin-top: -5rem;
    margin-bottom: -4rem;
  }
}
