.round-img {
  border-radius: 50%;
  overflow: hidden;
}

img.phil {
  height: auto;
  max-width: 75vw;
  width: 100%;

  @include media-breakpoint-up(sm) {
    max-width: 65vw;
  }
  @include media-breakpoint-up(md) {
    max-width: 55vw;
  }
  @include media-breakpoint-up(lg) {
    max-width: 45vw;
  }
  @include media-breakpoint-up(xl) {
    max-width: 30rem;
  }
}
