h1,
h2,
h3,
.h1,
.h2,
.h3 {
  color: $header_color;
  text-transform: uppercase;
}

.anton {
  font-family: 'Anton', sans-serif;
  transition: opacity 0.4s ease;
}

h1,
.h1 {
  font-size: 14vw;
}
h2,
.h2 {
  font-size: 8.5vw;
}
@include media-breakpoint-up(sm) {
  h1,
  .h1 {
    font-size: 12vw;
  }
  h2,
  .h2 {
    font-size: 9vw;
  }
}
@include media-breakpoint-up(md) {
  h1,
  .h1 {
    font-size: 10vw;
  }
  h2,
  .h2 {
    font-size: 8vw;
  }
}
@include media-breakpoint-up(lg) {
  h1,
  .h1 {
    font-size: 9vw;
  }
  h2,
  .h2 {
    font-size: 7vw;
  }
}
@include media-breakpoint-up(xl) {
  h1,
  .h1 {
    font-size: 5rem;
  }
  h2,
  .h2 {
    font-size: 4rem;
  }
}

.header-shadow {
  text-shadow: 0px 1px 0 rgba(lighten($header_color, 20%), 0.75),
    0px (1rem / 3.7) 0 darken($header_color, 20%),
    0 0 1.5rem rgba(darken($bg_color2, 30%), 0.4),
    0 1rem 1rem rgba(darken($bg_color2, 30%), 0.5);
}
.header-shadow-rev {
  text-shadow: 0px -1px 0 rgba(lighten($header_color, 20%), 0.75),
    0px (-1rem / 3.7) 0 darken($header_color, 20%),
    0 0 1.5rem rgba(darken($bg_color2, 30%), 0.4),
    0rem -1rem 1rem rgba(darken($bg_color2, 30%), 0.5);
}
.header-shadow-sm {
  text-shadow: 0px 1px 0 rgba(lighten($header_color, 20%), 0.75),
    0px 2px 0 darken($header_color, 20%),
    0 0 1.5rem rgba(darken($bg_color2, 30%), 0.3),
    0 0.5rem 1rem rgba(darken($bg_color2, 30%), 0.4);
}

.header-spaced {
  letter-spacing: (1rem / 4);
}

.wf-loading {
  .anton {
    opacity: 0;
  }
}
.wf-active,
.wf-inactive {
  .anton {
    opacity: 1;
  }
}
