$primary: #b5513f;

$bg_color2: #73afad;
$bg_color1: mix($bg_color2, #fff, 70%);
$header_color: $primary;
$body_bg: $bg_color2;
// $body-color: #ffffff;

$font-size-base: 1.4rem !default;
// $h1-font-size: $font-size-base * 3.5;
// $h2-font-size: $font-size-base * 2.75;
// $h3-font-size: $font-size-base * 2.5;
// $h4-font-size: $font-size-base * 2.25;
// $h5-font-size: $font-size-base * 2;
// $h6-font-size: $font-size-base * 1.75;

// $font-size-vw-base: 1vw;
// $h1-font-size: $font-size-vw-base * 5;
// $h2-font-size: $font-size-vw-base * 4.5;
// $h3-font-size: $font-size-vw-base * 4;
// $h4-font-size: $font-size-vw-base * 3.5;
// $h5-font-size: $font-size-vw-base * 3;
// $h6-font-size: $font-size-vw-base * 2.5;
